<link rel="stylesheet" href="/css/home.css" />
<section id="home">
  <%if(locals.user){%>

  <div id="main-habit-page">
    <div id="habit">
      <div class="habit-box">
        <%for(i of habit){%> <%if(i.User.id==locals.user.id){%>
        <div>
          <h1><%=i.title%></h1>
          <h3><%=i.time%></h3>
        </div>
        <div>
          <input type="checkbox" name="complete" id="" />
          <p>icon</p>
        </div>
        <div>
          <h1><%=i.day%> days</h1>
          <h1><%=i.strike%> best</h1>
          <h1><%=i.totalComplete%>/<%=i.totalDays%></h1>
          <h1><%=i.repeat%></h1>
        </div>
        <%}%> <%}%>
      </div>
    </div>
    <div id="habit-form">
      <h1>Add Your Habit</h1>
      <form action="/habit/create" method="post">
        <div>
          <input
            required
            type="text"
            name="title"
            id="title"
            placeholder="Habit Title"
            autocomplete="off"
          />
        </div>
        <div>
          <select name="repeat" id="">
            <option value=""></option>
            <option value="daily">Daily</option>
          </select>
        </div>
        <div>
          <input
            required
            type="time"
            name="time"
            id="time"
            placeholder="Habit Title"
            autocomplete="off"
          />
        </div>
        <div>
          <button type="submit">Add Habit</button>
        </div>
      </form>
    </div>
  </div>
  <%}else{%>
  <div id="home-signIn">
    <h1>Loved By People:</h1>
    <h1>Build For Track <span>Daily</span> Routine</h1>
    <h2>
      “I insist on a lot of time being spent, almost every day, to just sit and
      think. <br />
      That is very uncommon in American business. I read and think. So I do more
      reading and thinking, <br />and make less impulse decisions than most
      people in business. <br />
      I do it because I like this kind of life.”
    </h2>
    <p>
      <a href="/user/signUp"><button>Start Free</button></a>
    </p>
  </div>
  <%}%>
</section>
